*{
    box-sizing: border-box;
    margin: 0;
    padding: 0px;
}

.comida-container {
background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
     display:flex;
    text-overflow: hidden;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border-color:  rgb(252, 17, 17);
   border-radius: 6px; border: 4px solid black;
}